/* Scrollable Projects Section */
.projects-section {
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  padding: 3%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(255, 184, 217, 0.3);
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  overflow-y: auto;
  border-radius: 20px;
}

.project-image-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #2c2c2c; /* Slightly lighter than the card background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-image-container.no-image::after {
  content: 'No Image Available';
  color: #666;
  font-style: italic;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(255, 184, 217, 0.1);
  background-color: #1e1e1e;
  height: 100%; /* Ensure all cards have the same height */
}

.project-info {
  padding: 15px;
  background-color: var(--c-pink-low);
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.project-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.project-card p {
  font-size: 0.9rem;
  margin-bottom: 5px;
  flex-grow: 1;
}

.project-date {
  font-size: 0.8rem;
  opacity: 0.8;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: contents;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .project-cards-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .projects-section {
    width: 95%;
    padding: 5%;
  }
  .project-card h3 {
    font-size: 1rem;
  }
  .project-card p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .projects-section {
    max-height: none;
    overflow-y: visible;
  }
  .project-cards-container {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}