.container{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    padding: 50px;
}

/* Profile card container */
.profile-section {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 184, 217, 0.3); /* Shadow around the card */
    max-width: 500px;
}

/* Profile image styling */
.profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(255, 184, 217, .3); /* Shadow effect for the image */
}

/* Profile name styling */
.profile-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
}

/* Profile bio styling */
.profile-bio {
    font-size: 1rem;
    line-height: 1.6;
}

/* Scrollable Projects Section */
.projects-section {
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    max-height: 700px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 30px rgba(255, 184, 217, 0.3); /* Shadow around the card */
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project-card {
    padding: 50px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 184, 217, 0.1);
}

.project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    color: #bbb;
}
    

/* ========== MEDIA QUERIES ========== */
@media (max-width: 1300px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .profile-section {
        margin: 35px auto;
        max-width: 400px;
    }

    .projects-section {
        margin: 35px auto;
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .profile-section,
    .projects-section {
        margin: 35px 20px;
    }

    .profile-image {
        width: 250px;
        height: 250px;
    }

    .projects-section {
        max-height: none;
        overflow-y: visible;
    }
}

